.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item {
  background-color: #a1a1a1;
  width: 40px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
